
<% include partials/header.ejs %>
<script>
    document.getElementById("From Girişi").innerHTML = "Ana Sayfa";
</script>

<form action="" method="post">
    <label for="ad">Adınızı Gİriniz.</label>
    <input type="text" placeholder="Adınız..." name="ad" id="ad" required><br>
    <label for="ad">Adınızı Gİriniz.</label>
    <input type="text" placeholder="Soaydınız ..." name="soyad" id="soyad" required><br>

    <input type="submit" value="Kaydet">






</form>
    <% include partials/footer.ejs %>