
<% include partials/header.ejs %>
<script>
    document.getElementById("From Girişi").innerHTML = "Ana Sayfa";
</script>

<h1>Teşekkürler </h1>
<h2>Girdiğiniz Bilgiler aşağıdaki gibi eklenmiştir.</h2>
<h3><%=data.ad %></h3>
    <% include partials/footer.ejs %>