<% include partials/header.ejs %>
<script>
        document.getElementById("title").innerHTML = "Profil Sayfası";
</script>
<h1>Merhaba Gönerilen id : <%=id; %> </h1>
   

<% include partials/footer.ejs %>