<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <title id='title'></title>

</head>
<body>
    <a href="/">Ana Sayfa</a> | <a href="/form">Form Doldur</a>
    | <a href="/profile/1234">Profil Sayfası</a>